@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2>Login !</h2>

@using (Html.BeginForm())
{
    <div class="col-sm-4 col-xs-4">
        
        @Html.GetLoginFormObject(Convert.ToString( HttpContext.Current.Application["Theme"]))  
        @Html.ActionLink("Register ?", "Index", "Registration")

       
    </div>

}