<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="TADBConnection" providerName="System.Data.SqlClient"
      connectionString="Data Source=DESKTOP-C7K4V04;          Integrated Security=SSPI;           Initial Catalog=TAAnywhere;           User Id=Sa;          password=Binary007;          MultipleActiveResultsets=true;"/>-->
<!--<add name="TADBConnection" providerName="Oracle.ManagedDataAccess.Client" 
     connectionString="Data Source=TAAnywhere;  User Id=Sys; password=Binary007;"/>-->
<!-- <add name="TADBConnection" providerName="Oracle.ManagedDataAccess.Client" 
     connectionString="User Id=SYS;Password=Binary007;Data Source=TAAnywhere"/>-->
  </connectionStrings>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="TAAnywhere" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
</configuration>